<div class="container">
    <div class="content">
        <div class = "contenedor">
            <div class="title">
                Bienvenido a ES Bank
            </div>
            <div>
                <label>No. de Cuenta: </label>
                <label>123456789</label>
            </div>
            <div>
                <label>Tipo de cuenta: </label>
                <label>Monetaria</label>
            </div>
            <div>
                <label>Saldo disponible: </label>
                <label>Q.12,345.67</label>
            </div>
            <button class="logoutbutton" onclick="redirigirALogin()">
                Logout
            </button>
        </div>
    </div>
</div>
